body {
    background-color: black;
}

.centro {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-content: center;
}

p {
    color: cyan;
    text-align: center;
}

h1 {
    color: darkblue;
    background-color: lightblue;
    text-align: center;

}

h2 {
    color: darkblue;
    background-color: lightblue;
    text-align: center;

}

li {
    text-align: left;
    color: cyan;
    margin: auto;

}

table,
.table {
    text-align: center;
    color: darkblue;
    margin: auto;
    border-color: darkblue;
    background-color: lightblue;
    /* tá, ainda não aprendi margem nas aulas mas foi bem fácil ver na net xD*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
}

.marcador {
    text-transform: uppercase;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 3px;
    margin-top: 10px;

}
.footer-text{
    color: #000;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}